/* Header */


.header {
  position: absolute; 
  top: 0;
  left: 0;
  width: 96.8%;
  z-index: 1000;

  background: rgba(51, 51, 51, 0.4); /* transparent effect */
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;

  backdrop-filter: blur(5px); /* subtle blur */
  transition: background 0.3s ease, color 0.3s ease;
}

.header:hover {
  backdrop-filter: none;          /* remove blur */
  background: #333;               /* fully solid background */
}

.header .logo img {
  height: 65px;
  margin-left: 15%;

}

.header nav{
  margin-right: 5%;
}

.header nav a {
  color: #fff;
  margin: 20px;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.header nav a:hover {
  color: #f39c12;
}

/* When scrolled */
.header.scrolled {
  position: fixed; /* becomes fixed when scrolling */
  background: #fff;
  color: #000;
}

.header.scrolled nav a {
  color: #000;
}

.header.scrolled nav a:hover {
  color: #f39c12;
}

/* Footer */
.footer {
  background: #097d14;
  color: #fff;
  padding: 10px;

 display: flex;               /* make paragraph and icons in one line */
  justify-content: space-between; /* space between text and icons */
  align-items: center;         /* vertically align text and icons */
 
}

.footer p {
  margin-left: 40%;                   /* remove default margin */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

/* Social icons container */
.footer .social {
  display: flex;
  gap: 15px;                   /* space between icons */
  align-items: center;
}



.footer .social a:nth-child(1) img { /* LinkedIn */
  height: 40px;
}

.footer .social a:nth-child(2) img { /* Facebook */
  height: 48px;
}

.footer .social a:nth-child(3) img { /* Instagram */
  height: 55px;
}


